<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
		xmlns:rim="http://www.blackberry.com/ns/widgets" 
		xmlns:android="http://schemas.android.com/apk/res/android" 
		id="br.com.hotforms.android.statusbarcolor" 
		version="0.0.1">
	<name>StatusBarColor</name>
	<description>StatusBarColor for Android Lollipop Plugin</description>
	<license>Apache 2.0</license>
	<keywords>cordova,statusbar,lollipop,android,color</keywords>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<js-module src="www/StatusbarColor.js" name="StatusBarColor">
		<clobbers target="StatusBarColor" />
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="StatusBarColor">
				<param name="android-package" value="br.com.hotforms.android.statusbarcolor.StatusBarColor" />
			</feature>
		</config-file>
		
		<source-file src="src/android/StatusBarColor.java" target-dir="src/br/com/hotforms/android/statusbarcolor" />
	</platform>
</plugin>
