<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android" 
		id="br.com.hotforms.statusbarmanager" 
		version="1.0.0">
	<name>StatusBarManager</name>
	<description>StatusBarManager for Android Plugin</description>
	<license>Apache 2.0</license>
	<keywords>cordova,statusbar,lollipop,android,color,transparent,translucent</keywords>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<js-module src="www/StatusBarManager.js" name="StatusBarManager">
		<clobbers target="StatusBarManager" />
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="StatusBarManager">
				<param name="android-package" value="br.com.hotforms.StatusBarManager" />
			</feature>
		</config-file>
		
		<source-file src="src/android/StatusBarManager.java" target-dir="src/br/com/hotforms/statusbarmanager" />
	</platform>
</plugin>
